doctype html
html(lang=en)
  head
    title WOOF
    meta(name="description", content="WOOF information website")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type='text/css' href='/assets/style.css')

  body.container
    .header
      img.header-img(src='/assets/pawlogo_t.png' alt='WOOF Logo')
      .header-title
        h1 WOOF
        h4 WISCONSIN ORGANIZATION OF FURRIES
    ul.header-links
      a(href='/')
        li.header-link.curved About the Club
      a(href='/calendar')
        li.header-link.curved Event Calendar
      a(href='https://discord.gg/66Kt9sqjzT' target='_blank' rel='noopener noreferrer')
        li.header-link.curved Join Our Discord
          img.discord-img(src='/assets/discord.png' alt='')
    .content.curved
      block content
