extends base

block content 
    h2 Welcome!
    p The Wisconsin Organization of Furries is a gathering of people interested in furries and furry culture. The purpose of this group is to encourage creativity and socialization among those with common interest, as well as provide a place for freedom of self-expression.
    br
    h3 Club Membership
    p This organization is focused on bringing together students and alumni of schools within the Madison, Wisconsin area. Those from UW - Madison, MATC, and Edgewood college can be considered members. Events and activities hosted by the club will prioritize students of these schools first, though participation is heavily dependent on the event and will be decided on a case-to-case basis. There are no formal requirements other than this to join the group.
    br
    h3 How to Join 
    p If you're interested in joining WOOF, please feel free to join our Discord server by clicking the link in the navbar above.