extends base

block content 
    h2 Welcome!
    p We'd probably write a brief description of the club here.
    br
    h2 Another header
    p More stuff...
    br
    h3 Now working from Docker via... DigitalOcean!