extends templates/base

block content 
    .calendar-box
        iframe(src='https://calendar.google.com/calendar/embed?src=e90uthca833ipaiq07kh3d35q4%40group.calendar.google.com&ctz=America%2FChicago' style='border: 0;' frameborder='0' scrolling='no')