extends templates/base

block content
    .splash
        .header
            .logobox 
                img(src='assets/pawlogo_t.png')
                h1 WOOF
            nav 
                h3 about 
                h3 calendar 
                h3 photos 
                h3 discord
        .hero 
            .hero-ct
                h1 Yes. We are furries.
                p filler text woohoo!
                button Learn More
            .picture 
                img(src='assets/borley.png')
    .otherstuff 
        p hello
    