extends templates/base

block content
    .splash
        .header
            .logobox 
                img(src='assets/pawlogo_t.png')
                h1 WOOF
            nav 
                h3.link about 
                h3.link calendar 
                h3.link photos 
                h3.link discord
        .hero 
            .hero-ct
                .ct-bundle
                    h1 Notices bulge. OWO what's this?
                    p I'm baby keffiyeh DIY craft beer post-ironic butcher four dollar toast knausgaard cray letterpress. Distillery etsy green juice, direct trade kale chips kickstarter hella glossier selfies tattooed chambray jianbing.
                    a(href='#more')
                        button Learn More
            .picture 
                img(src='assets/borley.png')
    .whoweare(id='more') 
        .wwatitle 
            h1 Who We Are:
        .wwacards
            .wwacard
                .boximg
                    img(src='assets/img/ico3.png').cardi
                    h2 Students & Alumni
                .line
                p We are students and alumni in the Madison, WI area.
                    br
                    br
                    | (UW-Madison, MATC, and Edgewood)
            .wwacard
                .boximg 
                    img(src='assets/img/ico1.png').cardi
                    h2 Furries
                .line
                p We are people interested in furries and furry culture, or we're looking to learn more about it!
            .wwacard 
                .boximg
                    img(src='assets/img/ico2.png').cardi
                    h2 LGBTQ+ & Allies
                .line
                p We are people who encourage self-expression and embracing our sexualities.
        .wwabutton
            button View Our Gallery
    .activities(id='activities')
        p activities
    .getinvolved(id='getinvolved')
        p get involved
    