extends templates/base

block content
    .splash
        .header
            .logobox 
                img(src='assets/pawlogo_t.png')
                h1 WOOF
            nav 
                h3.link about 
                h3.link calendar 
                h3.link photos 
                h3.link discord
        .hero 
            .hero-ct
                .ct-bundle
                    h1 Notices bulge. OWO what's this?
                    p I'm baby keffiyeh DIY craft beer post-ironic butcher four dollar toast knausgaard cray letterpress. Distillery etsy green juice, direct trade kale chips kickstarter hella glossier selfies tattooed chambray jianbing.
                    a(href='#more')
                        button Learn More
            .picture 
                img(src='assets/borley.png')
    .otherstuff(id='more') 
        p hello
    