doctype html
html(lang=en)
  head
    title WOOF
    meta(name="description", content="Information website for WOOF, the Wisconsin Organization of Furries")
    meta(name="robots" content="index, follow")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type='text/css' href='assets/style.css')

  body
    block content
