@font-face {
    font-family: alte-haas-bold;
    src: url(groteskbold.ttf);
}

/* body has margin and padding by default, so reset them */
body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 8.5rem;
    margin: 0;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-size: 1.3rem;
    margin: 0;
}

h4 {
    font-size: 1.1rem;
}

/* root for page content layout */
.container {
    /* fill view */
    width: auto;
    height: auto;
    /* css grid layout */
    display: grid;
    grid-template-columns: minmax(0, 1fr) 60rem minmax(0, 1fr);
    grid-template-rows: 1rem 20rem 1rem auto 1rem;
    background-color: #111111;
}

.header {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    background-color: #ff2020;
}

.header-top {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-img {
    height: 90%;
    filter: drop-shadow(0px 4px 5px rgba(17, 17, 17, .5));
}

.header-title {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: alte-haas-bold;
    color: #fcfcfc;
    text-shadow: 0 4px 5px rgba(17, 17, 17, .5);
}

.header-links {
    grid-row: 2;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link {
    margin: .5rem;
    padding: .8rem;
    vertical-align: middle;
    background-color: #fcfcfc;
    box-shadow: 0 4px 5px rgba(17, 17, 17, .5);
    transition: transform .2s ease-in;
}

.header-link:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}

.discord-img {
    margin-left: .2rem;
    height: 1rem;
    vertical-align: middle;
}

.content {
    grid-column: 2;
    grid-row: 4;
    /* height: 100rem; */
    padding: 2rem;
    background-color: #fcfcfc;
    color: #111111;
}

.curved {
    border-radius: 1rem;
}

